<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>17/06/29 14:36:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login_Page.beforeclass(java.lang.String)[pri:0, instance:com.testcases.Login_Page@5442a311]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/06/29 14:36:39</td>   <td>2627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Page.Login_Together()[pri:0, instance:com.testcases.Login_Page@5442a311]">Login_Together</td> 
  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/06/29 14:36:52</td>   <td>16140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login_Page.StatusScreenShots(org.testng.ITestResult)[pri:0, instance:com.testcases.Login_Page@5442a311]">&lt;&lt;StatusScreenShots</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>17/06/29 14:36:54</td>   <td>17457</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login_Page.End()[pri:0, instance:com.testcases.Login_Page@5442a311]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
</table>
